<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Curser</title>

    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.png')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="h1cont">
        <h1><i>You mother fucking piece of shit</i></h1>
    </div>

    <div class="social">
        <a href="#" class="linkbox">
            <i class="fa fa-facebook"></i>
            <p>Share on Facebook</p>
        </a>
        <a href="https://github.com/sgrpanchal31/Curser" target="_blank" class="linkbox">
            <i class="fa fa-github"></i>
            <p>Check us out on Github</p>
        </a>
        <a href="https://twitter.com/intent/tweet?text=If%20you%20ever%20feel%20out%20of%20swear%20words,%20check%20this%20out&url=https%3A%2F%2Fdev.twitter.com%2Fweb%2Ftweet-button" target="_blank" class="linkbox" >
            <i class="fa fa-twitter"></i>
            <p>Share on Twitter</p>
        </a>
    </div>

    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>














